.container {
    width: 100%;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.new-label {
    margin-bottom: 20px;
}

.label {
    border: 1px solid grey;
    padding: 40px 30px;
}

.label-name, .label-name-1 {
    float: left;
    margin-right: 110px;
}

#label-name , #label-name-1{
    display: block;
}

.color-val {
    display: inline;
}

.label-names {
    font-size: 14px;
    font-weight: 600;
}

#label-preview , #cancel , #create-label , .label-button, #cancel-1 , #create-label-1 {
    padding: 10px 12px;
    background-color: #28a745;
    color: #fff;
    font-size: 14px;
    border: none;
    font-weight: 600;
    border-radius: 5px
}

#reset, #reset-1 {
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    background-color: #c5def5;
}

#label-preview {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    background-color: #c5def5;
}

.nameAlert, .colorAlert {
    display: block;
    font-size: 12px;
    color: red;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    text-transform: lowercase;
}

input {
    padding: 10px;
    font-size: 16px;
    /* margin-left: 20px; */
}


form {
    margin-top: 20px;
}

.color{
    display: inline-block;
    margin: 19px 0;
}

.button {
    display: inline-block;
    padding-top: 9px;
}

.fa {
    color: black;
}

.buttons {
    float: right;
    margin: 22px 0;
}

ul {
    border: 1px solid black;
    padding: 20px ;
}

.delete ,.edit {
    float: right;
    padding: 9px;
    border: none;
    background: inherit;
    text-decoration: underline;
} 

.label-value {
    border-bottom: 1px solid;
    padding: 10px 0;
}
